# Comments & Basic Data Types

In [3]:
print("Hello") # this is also a comment

Hello

In [4]:
"""
    This is a multi-Line comment
"""
print("Hello") #this is also a comment

Hello

In [7]:
print("Todd")
type(int)

Todd

type

# Variables.

In [10]:
num1 = 5
num2 = 8.4
print(num1, num2)

5 8.4

In [11]:
#storing a boolean into a variable
switch = True
print(switch)

True

In [12]:
#storing strings into a variable
name = "Todd Taylor"
fav_number = '9'
print(name, fav_number) #will print 9 next to the name

Todd Taylor 9

In [13]:
# using two variables to create another variable
result = num1 + num2
print(result)

13.4

In [14]:
# adding, deleting, multiplying, dividing from a variable 
result += 1
print(result)
result *= num1
print(result)

14.4
72.0

In [15]:
#defining a variable and overwriting it's value
name = 'John'
print(name)
name = 'Todd'
print(name)

John
Todd

# Exercises

In [16]:
x = 3
y = 10
result = x * y
print(3 + 10)

13

In [17]:
width = 245.54
height = 13.66
result = width * height
print(result)

3354.0764

# Working with Strings.

In [19]:
name = 'John' + ' ' + 'Taylor'
print(name)

John Taylor

In [20]:
# using the addition operator with variables
first_name = 'John'
last_name = 'Taylor'
full_name = first_name + ' ' + last_name
print(full_name)

John Taylor

In [24]:
# injecting variables using the format method
name = 'John'
print( 'Hello {}'.format(name) )
print( 'Hello {}, you are {} years old!'.format(name, 28) )

Hello John
Hello John, you are 28 years old!

In [25]:
#using the new f strings
name = 'John'
print( f'Hello {name}' )

Hello John

# Exercises

In [27]:
name = 'John'
int = 23
float = 4.5
bool = False
print( f'{int} {float} {bool} {name}')

23 4.5 False John

In [29]:
name = 'Todd'
sport = 'Weight-lifting'
program = 'Python'
print( "{}'s favourite sports is {}.".format(name, sport) )
print( "{} is working on {} programming!".format(name, program) )

Todd's favourite sports is Weight-lifting.
Todd is working on Python programming!

# Friday Project: Printing Receipts

In [44]:
# create a product and price for three items
p1_name, p1_price = "Books", 49.95
p2_name, p2_price = "Computer", 579.99
p3_name, p3_price = "Monitor", 124.89

# create a company name and information
company_name = "wess vex"
company_address = "283 Franklin st."
company_city = "Boston, MA"

# declare ending message
message = "Thanks for shopping with us today!"

# create a top border
print( "*" * 50 )

# print company information first, using format
print ( "\t\t{}".format( company_name.title() ) )
print ( "\t\t{}".format( company_address ) )
print ( "\t\t{}".format( company_city ) )

# print a line between sections
print( "=" * 50 )

# print out header for section of items
print("\tProduct Name\tProduct Price")

# create a print statement for each product
print( "\t{}\t\t${}".format(p1_name.title(), p1_price) )
print( "\t{}\t\t${}".format(p2_name.title(), p2_price) )
print( "\t{}\t\t${}".format(p3_name.title(), p3_price) )

# print a line between sections
print('=' * 50)

# print out header for section of total
print("\t\t\tTotal")

# calculate total price and print out
total = p1_price + p2_price + p3_price
print( "\t\t\t${}".format(total) )

# print a line between sections
print( "=" * 50)

# output thank you message
print( "\n\t{}\n".format(message) )

#create a bottom border
print("*" * 50)

**************************************************
		Wess Vex
		283 Franklin st.
		Boston, MA
==================================================
	Product Name	Product Price
	Books		$49.95
	Computer		$579.99
	Monitor		$124.89
==================================================
			Total
			$754.83
==================================================

	Thanks for shopping with us today!

**************************************************